/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Team Petroleum Website
VERSION:	1.0.0
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[TABLE OF CONTENTS]

1. BASE

    1.1. Typography
    1.2. Common Styles
        1.2.1 Page Title
        1.2.1 404 page
    1.3 Button Style

2. NAVIGATION

3. HERO AREA

4. SKILL SECTION

    4.1. fun-facts
    4.2. counter

5. PROGRESS SECTION

    5.1. progressbar title
    5.2. progressbar value

6. MISSION SECTION

    6.1. card header
    6.2. card body

7. PROMO VIDEO SECTION

8. TESTIMONIAL SECTION

    8.1. testimonial slider
    8.2. testimonial content

9. CONTACT

    9.1. Address Item
    9.3. COntact Form

10. CLIENT LOGO SLIDER

11. FUN-FACTS SECTION

12. CONSULTATION SECTION

    12.1 background image
    12.2 form-control

13. SEMINARS SECTION

    13.1 typewriter
    13.7 philosophy
    13.8 center-pad

        13.8.1 center-pad item
        13.8.1 center-pad content
        13.8.1 center-pad content-2

    13.9 calendar


14. SERVICE SECTION

    14.1 service item
    14.2 service item 2
    14.3 clients
    14.4 Process
    14.5 service menu
    14.6 service brochure
    14.7 service schedule
    14.8 service consultation
    14.9 service single

        14.9.1 service single image
        14.9.2 service single content
        14.9.3 service single list
        14.9.4 service single benefit
        14.9.5 widget

15. WORK SECTION

    15.1 work slider
    15.2 slick dots

16. CALL TO ACTION

17. TEAM SECTION

    17.1 team item
    17.2 team content
    17.3 team member
    17.4 team single

        17.4.1 team member info item
        17.4.2 team member details

18. PRICING SECTION

    18.1 pricing item

19. PROJECT SECTION

    19.1 project menu
    19.2 project item
    19.3 project single

        19.3.1 project overview
        19.3.2 case study
        19.3.3 project single content

    19.4 nav-tabs
    19.5 tab content

20. FAQ SECTION

21. BLOG SECTION

    21.1 blog item
    21.2 blog content
    21.3 blog content 2
    21.4 blog post

        21.4.1 post slider
        21.4.2 post video
        21.4.3 pagination
        21.4.4 sidebar

    21.5 blog single

        21.5.1 blog single container
        21.5.2 blog single content
        21.5.3 blog single list
        21.5.4 blog single testimonial
        21.5.5 share tags
        21.5.6 comments
        21.5.7 blog-sidebar

22. CONTACT SECTION

    22.1 contact item
    22.2 contact form

23. SIGNUP WRAPPER

    23.1 signup greetngs
    23.2 signup form

24. COMMING SOON

    24.1 SYOtimer

25. FOOTER SECTION

    25.1 social link
    25.2 footer link
    25.3 subcription
    25.4 copyright
    25.5 back to top
-------------------------------------------------------------------*/
/* 1.1 typography */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Poppins:300,400,500,600,700|Work+Sans:400,500,600");
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
}

p, .paragraph {
  font-weight: 400;
  color: #666;
  font-size: 14px;
  line-height: 25px;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

h1, .h1 {
  font-size: 60px;
}

@media (max-width: 400px) {
  h1, .h1 {
    font-size: 30px;
  }
}

h2, .h2 {
  font-size: 36px;
}

h3, .h3 {
  font-size: 30px;
}

h4, .h4 {
  font-size: 20px;
}

h5, .h5 {
  font-size: 18px;
}

h6, .h6 {
  font-size: 14px;
}

/* 1.3 Button style */
.btn {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  padding: 16px 44px;
  border-radius: 35px;
  font-weight: 600;
  border: 0;
  position: relative;
  z-index: 1;
  transition: .2s ease;
}

.btn:focus {
  outline: 0;
  box-shadow: none !important;
}

.btn:active {
  box-shadow: none;
}

.btn-primary {
  background: #e84444;
  color: #fff;
}

.btn-primary:active {
  background: #e84444 !important;
}

.btn-primary:hover {
  background: #ee7171;
}

.btn-secondary {
  background: #303032;
  color: #fff;
}

.btn-secondary:active {
  background: #e84444 !important;
}

.btn-secondary:hover {
  background: #e84444 !important;
  background: #ee7171;
}

.btn-light {
  background: #fff;
  color: #222;
  border: 2px solid #fff;
}

.btn-light:hover {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.btn-outline {
  background: transparent;
  color: #222;
  border: 2px solid #303032;
}

.btn-outline:hover {
  background: #303032;
  color: #fff;
}

.btn-sm {
  padding: 13px 40px !important;
}

/* 1.2 common style */
body {
  background-color: #fff;
  overflow-x: hidden;
}

::-moz-selection {
  background: #ee7171;
  color: #fff;
}

::selection {
  background: #ee7171;
  color: #fff;
}

/* preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

ol,
ul {
  list-style-type: none;
  margin: 0px;
}

img {
  vertical-align: middle;
  border: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a {
  transition: .2s ease;
}

a:hover {
  color: #e84444;
}

a.text-dark:hover,
a.text-white:hover {
  color: #e84444 !important;
}

a,
button {
  cursor: pointer;
}

.outline-0 {
  outline: 0;
}

.d-unset {
  display: unset !important;
}

.slick-slide {
  outline: 0;
}

.centralized {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hilighted {
  background: #303032;
  color: #919E4D;
  border-radius: 3px;
  padding: 2px 5px;
}

.section {
  padding: 100px 0;
}

@media (max-width: 575px) {
  .section {
    padding: 80px 0;
  }
}

.section-sm {
  padding: 80px 0;
}

.section-title {
  margin-bottom: 55px;
}

.section-title-sm {
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #666;
}

.overlay {
  position: relative;
}

.overlay::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: .6;
}

.overlay-dark {
  position: relative;
}

.overlay-dark::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: .8;
}

.overlay-primary {
  position: relative;
}

.overlay-primary::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #e84444;
  opacity: .6;
}

.overlay-white {
  position: relative;
}

.overlay-white::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  opacity: .7;
}

.overlay-rounded::before {
  border-radius: 5px;
}

.section-title-border {
  position: relative;
}

.section-title-border::before {
  position: absolute;
  content: '';
  height: 2px;
  width: 120px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background: #e84444;
}

.section-title-border::after {
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #e84444;
  box-shadow: 0 0 0 5px #fff;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
}

.section-title-border-gray {
  position: relative;
}

.section-title-border-gray::before {
  position: absolute;
  content: '';
  height: 2px;
  width: 120px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background: #e84444;
}

.section-title-border-gray::after {
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #f5f5f5;
  border: 2px solid #e84444;
  box-shadow: 0 0 0 5px #f5f5f5;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
}

.section-title-border-half {
  position: relative;
}

.section-title-border-half::before {
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid #e84444;
  bottom: -14px;
  left: 0;
}

.section-title-border-half::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 50px;
  left: 15px;
  bottom: -10px;
  background: #e84444;
}

.section-title-border-half-white {
  position: relative;
}

.section-title-border-half-white::before {
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid #fff;
  bottom: -14px;
  left: 0;
}

.section-title-border-half-white::after {
  background: #fff;
  position: absolute;
  content: '';
  height: 2px;
  width: 50px;
  left: 15px;
  bottom: -10px;
}

/* 1.2.1 page title */
.page-title {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 160px 0 100px;
}

/* 1.2.2 404 page start */
.page-404 {
  padding: 600px 0 60px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .page-404 {
    padding: 450px 0 50px;
  }
}

@media (max-width: 575px) {
  .page-404 {
    padding-top: 250px;
  }
}

@media (max-width: 400px) {
  .page-404 {
    padding-top: 150px;
  }
}

.page-404 h1 {
  font-size: 40px;
}

/* 404 page end */
/* play-icon */
.play-icon {
  width: 85px;
  height: 85px;
  border: 3px solid #fff;
  border-radius: 50%;
  display: block;
  text-align: center;
}

.play-icon:focus {
  outline: 0;
}

.play-icon i {
  line-height: 79px;
  display: block;
  font-size: 30px;
  color: #fff;
}

/* round icon */
.round-icon {
  height: 70px;
  min-width: 70px;
  max-width: 70px;
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  background: #fff;
  text-align: center;
  line-height: 70px;
  font-size: 30px;
  color: #e84444;
  display: inline-block;
}

/* 18. squre icon */
.square-icon {
  height: 65px;
  width: 65px;
  background: #e84444;
  color: #fff;
  font-size: 35px;
  line-height: 65px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}

/* team social icon */
.social-icon-lg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 25px;
  display: inline-block;
}

.social-icon-lg i {
  margin: 0;
  color: #fff;
}

.box-shadow {
  box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
}

.golden {
  color: #efaf27 !important;
}

.bg-gray {
  background-color: #f5f5f5;
}

.bg-blue-yellow {
  background: linear-gradient(to right, yellow 50%, #4892e7 50%);
}

.bg-blue {
  background-color: #415B86;
}

.bg-blue-2 {
  background-color: #37507A;
}

.bg-dark-blue {
  background-color: #2D497A;
}

.bg-yellow {
  background-color: #e0fc22;
}

.bg-primary {
  background-color: #e84444 !important;
}

.bg-secondary {
  background-color: #484849 !important;
}

.bg-black {
  background-color: #212121;
}

.text-primary {
  color: #e84444 !important;
}

.bg-facebook {
  background-color: #4267b2;
}

.bg-twitter {
  background-color: #449de8;
}

.bg-linkedin {
  background-color: #2f6ea3;
}

.bg-google {
  background-color: #e62211;
}

.text-color {
  color: #666;
}

.text-dark {
  color: #222;
}

.text-underline {
  text-decoration: underline;
}

.text-underline:hover {
  text-decoration: underline;
}

.font-primary {
  font-family: "Poppins", sans-serif;
}

.font-secondary {
  font-family: "Open Sans", sans-serif;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

@media (max-width: 991px) {
  .mb-md-50 {
    margin-bottom: 50px;
  }
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-100 {
  margin-bottom: 100px;
}

.py-10 {
  padding: 10px 0;
}

.py-50 {
  padding: 50px 0;
}

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.py-160 {
  padding: 160px 0;
}

.ml-40 {
  margin-left: 40px;
}

.ml-65 {
  margin-left: 65px;
}

.ml-80 {
  margin-left: 80px;
}

.ml-120 {
  margin-left: 120px;
}

.pb-xl-200-lg-100 {
  padding-bottom: 200px;
}

@media (max-width: 1199px) {
  .pb-xl-200-lg-100 {
    padding-bottom: 100px;
  }
}

.mb-xl-150-lg-100 {
  margin-bottom: 150px;
}

@media (max-width: 1199px) {
  .mb-xl-150-lg-100 {
    margin-bottom: 100px;
  }
}

.translateY-25 {
  transform: translateY(25px);
}

.translateY-10 {
  transform: translateY(-10px);
}

.translateY-33 {
  transform: translateY(-33px);
}


#about {
  background-color: rgb(240,240,240);
}

/* 2. Navigation */
.top-header {
  background: #f0f0f0;
}

@media (max-width: 575px) {
  .top-header ul {
    text-align: center;
  }
}

.top-header ul li {
  margin: 15px 0;
}

@media (max-width: 575px) {
  .top-header ul li {
    margin: 10px 0;
  }
}

.top-header ul li a {
  display: inline-block;
  padding: 0 20px;
  border-right: 1px solid #000;
  color: #000;
}

@media (max-width: 575px) {
  .top-header ul li a {
    border: 0;
  }
}

.top-header ul li a span {
  color: #e84444;
}

.top-header ul li:last-child a {
  padding-right: 0;
  border-right: 0;
}

.navigation, .navigation .navbar {
  padding: 0;
  background: #f0f0f0 !important;
  position: relative;
}

 .navigation .dropdown-menu {
   padding: 0;
   background: #424244 !important;
   position: relative;
 }

.navigation img {
	height: 150px;
  max-width: 300px;
}

.navigation .navbar-brand img {
  position: relative;
  top: 25%;
  transform: translateY(-25%);
}

@media (max-width: 991px) {
  .navigation .navbar-brand {
    position: relative;
    height: unset;
    width: unset;
    box-shadow: none;
    top: 24px;
    background: none;
  }
  .navigation .navbar-brand img {
    height: 50px;
  }
  .navigation .navbar-brand img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.navbar-toggler {
  background-color: #fff;
}

.navigation .navbar .nav-item {
  padding: 28px 0;
}

@media (max-width: 991px) {
  .navigation .navbar .nav-item {
    padding: 0;
  }
}

.navigation .navbar .nav-item .nav-link {
  padding: 15px 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  transition: .2s ease;
  font-size: 14px;
}

@media (max-width: 1199px) {
  .navigation .navbar .nav-item .nav-link {
    font-size: 12px;
    padding: 15px 6px;
  }
}

@media (max-width: 991px) {
  .navigation .navbar .nav-item .nav-link {
    padding: 15px 0;
    font-size: 14px;
    text-align: center;
  }
}

.navigation .navbar .nav-item .nav-link:hover {
  color: #e84444;
}

.navigation .navbar .nav-item:last-child {
  padding: 28px 0 28px 30px;
}

@media (max-width: 991px) {
  .navigation .navbar .nav-item:last-child {
    padding: 0;
    margin-bottom: 20px;
  }
}

.navigation .navbar .nav-item:last-child .nav-link {
  color: #fff;
}

.navigation .navbar .nav-item.active .nav-link {
  color: #ff4a4a;
}

.navigation .navbar .dropdown:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
  transform: scaleY(1);
}

.navigation .navbar .dropdown-menu {
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.12);
  padding: 40px 30px;
  border: 0;
  border-radius: 0;
  top: 80%;
  left: -20px;
  display: block;
  visibility: hidden;
  transition: .3s ease;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  margin-left: 50px;
}

@media (max-width: 991px) {
  .navigation .navbar .dropdown-menu {
    display: none;
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
    transform-origin: unset;
  }
}

.navigation .navbar .dropdown-menu.show {
  visibility: visible;
  opacity: 1;
  transform: scaleY(1);
}

@media (max-width: 991px) {
  .navigation .navbar .dropdown-menu.show {
    display: block;
  }
}

.navigation .navbar .dropdown-item {
  position: relative;
  color: #fff;
  transition: .2s ease;
  background-color: none;
}

.navigation .navbar .dropdown-item.active {
  color: #e84444;
}

.navigation .navbar .dropdown-item:not(:last-child) {
  margin-bottom: 20px;
}

.navigation .navbar .dropdown-item:hover {
  color: #e84444;
  text-decoration: underline;
  background: transparent;
}

.navigation .navbar .dropdown-item::before {
  position: absolute;
  content: '';
  left: 5px;
  top: 12px;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #fff;
  display: inline-block;
  box-shadow: 0 0 0 2px #848484;
}

@media (max-width: 991px) {
  .navigation .navbar .dropdown-item {
    text-align: center;
  }
  .navigation .navbar .dropdown-item::before {
    display: none;
  }
}

/* 3. hero area */
.hero-slider.slick-slider {
  margin-bottom: 80px;
}

.hero-content .mobileOnly {
  display: none;
}

.hero-slider [data-animation-in] {
  opacity: 0;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}

/* @media (max-width: 767px) {
    .fullscreen-bg {
        background: url('images/teamTruck2.jpg') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
} */

@media (max-width: 1199px) {
  .hero-slider .slick-dots li {
    width: 230px;
  }
}

@media (max-width: 991px) {
  .hero-slider .slick-dots li {
    width: 180px;
  }
}

@media (max-width: 767px) {
  .hero-slider .slick-dots li {
    width: 120px;
  }
}

@media (max-width: 575px) {
  .hero-slider .slick-dots li {
    width: 25%;
  }
}

.hero-slider .slick-dots li::before {
  position: absolute;
  content: '';
  left: 50%;
  top: -12px;
  height: 25px;
  width: 25px;
  background: #303032;
  transform: translateX(-50%) rotate(-45deg);
  opacity: 0;
}

.hero-slider .slick-dots li a {
  display: block;
  position: relative;
  text-align: center;
  transition: .3s ease;
  color: #303032;
}

.hero-slider .slick-dots li a i {
  display: inline-block;
  font-size: 30px;
  line-height: 80px;
  margin-right: 15px;
  vertical-align: middle;
}

@media (max-width: 991px) {
  .hero-slider .slick-dots li a i {
    font-size: 20px;
    margin-right: 5px;
  }
  .hero-content .mobileOnly {
    display: block;
    text-align: center;
  }
  .hero-content .desktopOnly {
    display: none;
  }
}

@media (max-width: 767px) {
  .hero-slider .slick-dots li a i {
    margin: 0;
  }
}

.hero-slider .slick-dots li a span {
  font-size: 18px;
  font-weight: 500;
  line-height: 80px;
}

@media (max-width: 991px) {
  .hero-slider .slick-dots li a span {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .hero-slider .slick-dots li a span {
    display: none;
  }
}

.hero-slider .slick-dots li.slick-active {
  background: #303032;
}

.hero-slider .slick-dots li.slick-active a {
  color: #fff;
}

.hero-slider .slick-dots li.slick-active::before {
  opacity: 1;
}

.hero-content h4 {
  letter-spacing: 2px;
}

.hero-content {
  padding: 15px;
  background: rgba(255,255,255,0.8);
  border-radius: 15px;
  width: auto;
}

/* 6. mission section start */
.card-header:first-child {
  border-radius: 35px;
}

/* 7. promo video section start */
.promo-video {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.promo-video p {
  font-family: "Work Sans", sans-serif;
}

/* promo video section end */
/* 8. testimonial section start */
.checked {
  color: orange;
  font-size: 40px;
}
.testimonials {
  padding-top: 50px;
  padding-bottom: 50px;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;
}
.carousel-indicators li {
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {
	background: #555;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}

/* testimonial section end */
/* 10. client logo slider start */
.client-logo-slider .slick-track {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.client-logo-slider img {
  height: 75px;
}

/* client logo slider end */
/* 11. fun-facts section start */
.fun-facts {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* fun-facts section end */
/* 12. consultation section start */
.consultation {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* consultation section end */
/* 16. call to action start */
.cta {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* card */
  #accordion .card-header {
    width: 30vw;
    z-index: 1;
  }

  #accordion .card-body {
    margin-left: 2vw;
    margin-right: 2vw;
    background: rgba(0, 0, 0, 0);
  }

  @media (max-width: 1500px) {
    #accordion .card-header {
      width: 40vw;
      margin-left: 5vw;
      margin-right: 5vw;
    }

    #accordion .card-body {
      margin-left: 10vw;
      margin-right: 5vw;
    }
  }

  @media (max-width: 990px) {
    #accordion .card-header {
      width: 90vw;
      margin-left: 5vw;
      margin-right: 5vw;
    }

    #accordion .card-body {
      margin-left: 10vw;
      margin-right: 5vw;
    }
  }

.card-img-wrapper {
  position: relative;
}

.card-img-wrapper::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0;
  top: 0;
  left: 0;
  transition: .2s;
}

.card-body-2 {
  position: relative;
  transition: .2s ease;
  border-radius: 0 0 5px 5px;
}

.card-body-2::before {
  position: absolute;
  content: '';
  height: 30px;
  width: 30px;
  background: #fff;
  top: -15px;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
  transition: .2s ease;
}

.card:hover .card-img-wrapper::before {
  opacity: .4;
}

.card:hover .card-body-2 {
  background: #e84444;
}

.card:hover .card-body-2 h5,
.card:hover .card-body-2 h6,
.card:hover .card-body-2 a {
  color: #fff;
}

.card:hover .card-body-2::before {
  background: #e84444;
}

.overlay-rounded-top::before {
  border-radius: 5px 5px 0 0;
}

/* 13. typerwriter section */
.typewrite {
  font-size: 40px;
}


/* 13.8 center-pad section start */
.center-pad-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
}

/* center-pad section end */

/* 13.9 calendar */
#calendar {
  padding-top: 50px;
  padding-bottom: 50px;
}

.event-list {
		list-style: none;
		font-family: 'Lato', sans-serif;
		margin: 0px;
		padding: 0px;
	}
	.event-list > li {
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 0px 5px rgb(51, 51, 51);
		box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
		padding: 0px;
		margin: 0px 0px 20px;
	}
	.event-list > li > time {
		display: inline-block;
		width: 100%;
		color: rgb(255, 255, 255);
		background-color: #FF1B0A;
		padding: 5px;
		text-align: center;
		text-transform: uppercase;
	}
	.event-list > li:nth-child(even) > time {
		background-color: #EB3857;
	}
	.event-list > li > time > span {
		display: none;
	}
	.event-list > li > time > .day {
		display: block;
		font-size: 56pt;
		font-weight: 100;
		line-height: 1;
	}
	.event-list > li time > .month {
		display: block;
		font-size: 24pt;
		font-weight: 900;
		line-height: 1;
	}
	.event-list > li > .info {
		padding-top: 5px;
		text-align: center;
	}
	.event-list > li > .info > .title {
		font-size: 17pt;
		font-weight: 700;
		margin: 0px;
	}
	.event-list > li > .info > .desc {
		font-size: 13pt;
		font-weight: 300;
		margin: 0px;
	}

	@media (min-width: 768px) {
		.event-list > li {
			position: relative;
			display: block;
			width: 100%;
			height: 120px;
			padding: 0px;
		}
		.event-list > li > time {
			display: inline-block;
		}
		.event-list > li > time {
			width: 120px;
			float: left;
		}
		.event-list > li > .info {
			background-color: rgb(245, 245, 245);
			overflow: hidden;
		}
		.event-list > li > time {
			width: 120px;
			height: 120px;
			padding: 0px;
			margin: 0px;
		}
		.event-list > li > .info {
			position: relative;
			height: 120px;
			text-align: left;
			padding-right: 40px;
		}
		.event-list > li > .info > .title,
		.event-list > li > .info > .desc {
			padding: 0px 10px;
		}
		.event-list > li > .info > ul {
			position: absolute;
			left: 0px;
			bottom: 0px;
		}
	}

/* 14.3 clients */
.clients {
  background-position: center right;
  background-size: 50%;
  background-repeat: no-repeat;
}

@media (max-width: 991px) {
  .clients {
    background-size: cover !important;
    background-position: center center;
    text-align: center;
  }
}

.clients ul li {
  height: 66px;
}

.clients ul li img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
}

/* 14.4 process */
.process-item {
  width: 330px;
}

@media (max-width: 1199px) {
  .process-item {
    width: unset;
  }
}

.process-item-number {
  position: absolute;
  left: -35px;
  top: -35px;
  height: 70px;
  width: 70px;
  line-height: 70px;
  border-radius: 50%;
  text-align: center;
  background: #fff;
  box-shadow: -5px 0px 40px 0px rgba(0, 0, 0, 0.1);
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #222;
}

@media (max-width: 1199px) {
  .process-item-number {
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.process-item h5 {
  margin-bottom: 5px;
  color: #e84444;
}

img.arrow-top {
  position: absolute;
  top: 220px;
  right: 250px;
}

@media (max-width: 1199px) {
  img.arrow-top {
    display: none;
  }
}

img.arrow-bottom {
  position: absolute;
  bottom: 100px;
  left: 250px;
}

@media (max-width: 1199px) {
  img.arrow-bottom {
    display: none;
  }
}

/* service single start */

.service-menu li.active {
  position: relative;
}

.service-menu li.active a {
  background: #303032;
  color: #fff !important;
}

.service-menu li.active::before {
  position: absolute;
  content: '';
  height: 15px;
  width: 15px;
  background: #303032;
  top: 50%;
  right: -7px;
  transform: translateY(-50%) rotate(-45deg);
}

@media (max-width: 991px) {
  .service-menu li.active::before {
    display: none;
  }
}

.service-menu li:hover a {
  color: #fff !important;
  background: #303032;
}

.testimonial{
    margin: 10px 20px 40px;
    text-align: center;
}
.testimonial .testimonial-content{
    padding: 30px 0 0;
    margin-bottom: 3px;
    border-top: 2px solid #303032;
    border-bottom: 2px solid #303032;
    position: relative;
}
.testimonial .testimonial-content:before{
    content: "";
    border-top: 60px solid #303032;
    border-right: 60px solid transparent;
    border-bottom: 60px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
}
.testimonial .testimonial-content:after{
    content: "";
    border-bottom: 60px solid #303032;
    border-top: 60px solid transparent;
    border-left: 60px solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
}
.testimonial .pic{
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 2px solid #303032;
    margin-bottom: 20px;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .description{
    padding: 15px 50px 15px 20px;
    margin: 0;
    background: #e84444;
    text-align: left;
    font-size: 17px;
    color: #fff;
    letter-spacing: 1px;
}
.testimonial .content{
    padding: 5px 0;
    background: #303032;
}
.testimonial .title{
    display: inline-block;
    font-size: 20px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}
.testimonial .post{
    display: inline-block;
    font-size: 15px;
    color: #fff;
}

/* service single end */
/* 15. work section */
.work {
  /* 15.1 work slider */
}

.work-slider {
  /* 15.2 slick dots */
}

.work-slider-image {
  position: relative;
}

.work-slider-image .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  height: 100%;
  width: 100%;
  padding: 15px 25px;
  opacity: 0;
  transition: .2s;
}

.work-slider-image .image-overlay i {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  font-size: 24px;
  transition: .2s ease;
  padding: 10px;
}

.work-slider-image .image-overlay i:hover {
  font-size: 30px;
}

.work-slider-image .image-overlay a.h4 {
  position: absolute;
  bottom: 50px;
  color: #fff;
  transition: .2s ease;
  transform: translateY(20px);
  opacity: 0;
}

.work-slider-image .image-overlay a.h4:hover {
  color: #e84444;
}

.work-slider-image .image-overlay p {
  position: absolute;
  bottom: 15px;
  color: #fff;
  transform: translateY(10px);
  opacity: 0;
  transition: .3s ease;
  transition-delay: .1s;
}

.work-slider-image:hover .image-overlay {
  opacity: 1;
}

.work-slider-image:hover a.h4,
.work-slider-image:hover p {
  transform: translateY(0);
  opacity: 1;
}

.work-slider .slick-dots {
  padding-left: 0;
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
}

.work-slider .slick-dots li {
  margin: 0 14px;
}

@media (max-width: 400px) {
  .work-slider .slick-dots li {
    margin: 0 2px;
  }
}

.work-slider .slick-dots li:first-child {
  margin-left: 0;
}

.work-slider .slick-dots li button {
  height: 10px;
  width: 40px;
  border-radius: 25px;
  color: transparent;
  overflow: hidden;
  border: 0;
  border: 2px solid #e5e5e5;
  background: transparent;
  outline: 0;
  display: block;
}

.work-slider .slick-dots li button::before {
  display: none;
}

@media (max-width: 400px) {
  .work-slider .slick-dots li button {
    width: 10px;
  }
}

.work-slider .slick-dots li.slick-active button {
  border-color: #e84444;
}

/* 19. project section */
.project {
  /* 19.1 project menu */
  /* 19.2 project item */
}

.project-menu ul li {
  padding: 5px 20px;
  border-radius: 35px;
  color: #222;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #e5e5e5;
  cursor: pointer;
  background: #f5f5f5;
  margin: 0 10px 25px;
}

.project-menu ul li.active {
  background: #e84444;
  color: #fff;
}

.project-info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: .2s ease;
}

.project-info a {
  color: #fff;
  position: absolute;
  left: 30px;
  bottom: 40px;
  transform: translateY(20px);
  opacity: 0;
}

.project-info a:hover {
  color: #e84444;
}

.project-info p {
  position: absolute;
  left: 25px;
  bottom: 0;
  color: #fff;
  transition: .2s ease;
  transform: translateY(20px);
  opacity: 0;
  transition-delay: .1s;
}

.project-info p i {
  margin-right: 5px;
}

.project-info:hover {
  opacity: 1;
}

.project-info:hover a {
  transform: translateY(0);
  opacity: 1;
}

.project-info:hover p {
  transform: translateY(0);
  opacity: .7;
}

/* 19.3 project single page start */
/* 19.4 nav tabs */
.nav-tabs {
  border: 0;
  margin-bottom: 30px;
  justify-content: center;
}

@media (max-width: 991px) {
  .nav-tabs {
    -ms-flex-pack: center;
        justify-content: center;
  }
}

.nav-tabs .nav-item:not(:last-child) {
  margin-right: 10px;
}

@media (max-width: 575px) {
  .nav-tabs .nav-item {
    margin-bottom: 10px;
  }
}

.nav-tabs .nav-item .nav-link {
  padding: 10px 30px;
  margin-bottom: 15px;
  border: 1px solid #e5e5e5;
  background: #f5f5f5;
  border-radius: 45px;
  text-align: center;
  vertical-align: middle;
  color: #222;
  transition: .2s ease;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.nav-tabs .nav-item .active {
  background: #fff;
  color: #e84444;
  border-color: #e84444;
}

/* 19.5 tab content */
.tab-content {
  padding: 40px;
  margin-bottom: 60px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #e5e5e5;
}

.tab-content-item {
  margin-left: 20px;
}

.tab-content-item:not(:last-child) {
  margin-bottom: 45px;
}

.tab-content-item h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #222;
  margin-bottom: 25px;
  position: relative;
}

.tab-content-item h6::before {
  position: absolute;
  content: "\e65d";
  font-family: "themify";
  top: 0;
  left: -20px;
  color: #e84444;
}

.tab-content-item p {
  margin-bottom: 0;
}

/* project single page end */
/* 21.4.3 pagination */
.pagination .page-item .page-link {
  background: transparent;
  border: none;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  transition: .3s ease;
}

.pagination .page-item .page-link:hover {
  color: #e84444;
}

.pagination .page-item.active .page-link {
  color: #e84444;
}

.pagination .prev,
.pagination .next {
  border: 1px solid #e5e5e5;
  border-radius: 30px;
  padding: 5px 10px;
  transition: .3s ease;
}

.pagination .prev:hover,
.pagination .next:hover {
  border-color: #e84444;
}

.pagination .prev:hover .page-link,
.pagination .next:hover .page-link {
  color: #e84444;
}

.pagination .prev {
  margin-right: 30px;
}

.pagination .next {
  margin-left: 30px;
}

/* 21.4.1 post slider */
.post-slider {
  position: relative;
}

.post-slider .prevArrow,
.post-slider .nextArrow {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  top: 50%;
  border: 0;
  font-size: 20px;
  background: transparent;
  color: #e84444;
  z-index: 9;
  background: rgba(255, 255, 255, 0.8);
  transition: .3s ease;
}

.post-slider .prevArrow:focus,
.post-slider .nextArrow:focus {
  outline: 0;
}

.post-slider .prevArrow:hover,
.post-slider .nextArrow:hover {
  background: rgba(232, 68, 68, 0.25);
}

.post-slider .prevArrow {
  left: 40px;
}

.post-slider .nextArrow {
  right: 40px;
}

.post-slider .slick-disabled {
  color: #e5e5e5;
}

ul.tag-list li {
  margin-bottom: 7px;
}

ul.tag-list li a {
  color: #666;
  padding: 10px 15px;
  display: block;
  border: 1px solid #e5e5e5;
  border-radius: 30px;
  font-size: 13px;
  transition: .3s ease;
}

ul.tag-list li a:hover {
  background: #e84444;
  border-color: #e84444;
  color: #fff;
}

.newsletter .form-control {
  font-weight: 400;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  border-radius: 30px;
  font-size: 13px;
}

/* 21.5 blog single start */
/* share icon */
.share-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  display: inline-block;
}

.share-icon i {
  color: #fff;
}

/* 21.5.7 blog sidebar */
.sidebar-box-shadow {
  box-shadow: -3px 0px 3px 0px rgba(0, 0, 0, 0.06);
}

/* blog single end */
/* 22. contact section */
.form-control {
  border-radius: 5px;
  padding: 0 15px 2px;
  height: 40px;
  margin-bottom: 15px;
  border: 1px solid #e5e5e5;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #666;
}

.form-control:focus {
  border-color: #e84444;
  box-shadow: none !important;
}

.form-control::-webkit-input-placeholder {
  color: #666;
}

.form-control:-ms-input-placeholder {
  color: #666;
}

.form-control::placeholder {
  color: #666;
}

#contact .form #sendmessage {
  color: #00ADEF;
  border: 1px solid #e84444;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show,
#contact .form #errormessage.show,
#contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

/* 23.1 signup greetings */
.signup {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
  /* 23.2 signup form */
}

.signup-greeting {
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 70px 0 140px;
  text-align: center;
}

@media (max-width: 1199px) {
  .signup-greeting {
    padding-bottom: 80px;
  }
}

@media (max-width: 767px) {
  .signup-greeting {
    padding-top: 200px;
  }
}

@media (max-width: 575px) {
  .signup-greeting {
    padding-top: 400px;
  }
}

.signup-greeting img {
  margin-bottom: 50px;
  position: relative;
  z-index: 9;
}

.signup-greeting h4 {
  color: #fff;
  margin-bottom: 20px;
  position: relative;
  z-index: 9;
}

.signup-greeting p {
  color: #fff;
  position: relative;
  z-index: 9;
  margin: 0 40px;
}

.signup-form {
  padding: 50px 50px 50px 35px;
}

@media (max-width: 1199px) {
  .signup-form {
    padding: 50px 15px 50px 0;
  }
}

@media (max-width: 767px) {
  .signup-form {
    padding: 50px;
  }
}

@media (max-width: 575px) {
  .signup-form {
    text-align: center;
  }
}

.signup-form h4 {
  float: left;
  font-size: 26px;
  margin-bottom: 35px;
}

@media (max-width: 575px) {
  .signup-form h4 {
    float: unset;
  }
}

.signup-form a {
  color: #e84444;
}

.signup-form .btn {
  margin-top: 30px;
}

.signup-form p.signup-with {
  display: inline-block;
  margin-top: 42px;
}

.signup-form ul {
  margin-top: 37px;
  display: inline-block;
}

.signup-form ul li a {
  height: 30px;
  width: 30px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
}

/* 24. comming soon */
.comming-soon {
  height: 100vh;
  background-size: cover;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.comming-soon h1 {
  font-size: 50px;
  font-weight: 600;
}

@media (max-width: 575px) {
  .comming-soon h1 {
    font-size: 30px;
  }
}

.comming-soon .form-control {
  height: 45px;
  border-radius: 45px;
  position: relative;
  background: transparent;
  border: 1px solid #e5e5e5;
  color: #fff;
  margin-bottom: 40px;
}

.comming-soon .form-control::-webkit-input-placeholder {
  color: #666;
}

.comming-soon .form-control:-ms-input-placeholder {
  color: #666;
}

.comming-soon .form-control::placeholder {
  color: #666;
}

.comming-soon .btn-email {
  position: absolute;
  top: 0;
  right: 15px;
  background: #fff;
  border: 0;
  color: #e84444;
  border-radius: 45px;
  height: 45px;
  padding: 0 50px;
}

@media (max-width: 575px) {
  .comming-soon .btn-email {
    padding: 0 10px;
  }
}

.comming-soon i {
  color: #5c5c5c;
  margin: 0 15px;
  transition: .2s ease;
  font-size: 24px;
}

.comming-soon i:hover {
  color: #e84444;
}

/* 24.1 syotimer */
.syotimer {
  text-align: center;
  margin: 0 auto 40px;
}

.syotimer-cell:last-child .syotimer-cell__value::before {
  opacity: 0;
}

.syotimer-cell {
  display: inline-block;
  margin: 0 25px;
}

@media (max-width: 1199px) {
  .syotimer-cell {
    margin: 0 20px;
  }
}

@media (max-width: 575px) {
  .syotimer-cell {
    margin: 0 10px;
  }
}

@media (max-width: 400px) {
  .syotimer-cell {
    margin: 0 5px;
  }
}

.syotimer-cell__value {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
  position: relative;
}

@media (max-width: 1199px) {
  .syotimer-cell__value {
    font-size: 50px;
  }
}

@media (max-width: 575px) {
  .syotimer-cell__value {
    font-size: 30px;
  }
}

@media (max-width: 400px) {
  .syotimer-cell__value {
    font-size: 24px;
  }
}

.syotimer-cell__value::before {
  position: absolute;
  content: ':';
  height: 30px;
  color: #fff;
  right: -30px;
  top: 0;
}

@media (max-width: 575px) {
  .syotimer-cell__value::before {
    right: -20px;
  }
}

@media (max-width: 400px) {
  .syotimer-cell__value::before {
    right: -12px;
  }
}

.syotimer-cell__unit {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

/* 25.1 social link */
.social-icon-outline {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #fff;
  text-align: center;
  transition: .2s ease;
  display: inline-block;
}

.social-icon-outline i {
  line-height: 40px;
  color: #fff;
  font-size: 14px;
}

.social-icon-outline:hover {
  border-color: #e84444;
}

/* 25.2 footer link */
.footer-links {
  padding-left: 18px;
}

.footer-links li {
  margin-bottom: 20px;
  position: relative;
}

.footer-links li::before {
  position: absolute;
  font-family: "themify";
  content: "\e649";
  top: 0;
  left: -20px;
  height: 12px;
  width: auto;
  color: #fff;
}

footer .backlink {
  color: #fff;
}

footer .backlink:hover {
  color: #d0cdcd;
}

.mb-30 {
	height: 150px;
  max-width: 300px;
}

.footer-links li a {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  transition: .2s ease;
  display: block;
}

.footer-links li a:hover {
  text-decoration: underline;
  color: #e84444;
}

/* back to top button */
.back-to-top {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: #fff;
  background: #303032;
  top: -25px;
  right: 10px;
  border: 1px solid #454547;
  text-align: center;
  display: block;
  transition: .2s ease;
}

.back-to-top i {
  line-height: 50px;
}

.back-to-top:hover {
  border-color: #e84444;
}

.back-to-top:focus {
  outline: 0;
}

#brands img {
  transition: transform .2s;
}

#brands img:hover{
  transform: scale(1.1);
}

#brands h2,
#brands h5 {
  color: #fff;
}

#brands {
  padding-top: 50px;
  padding-bottom: 50px;
}

iframe {
  margin: auto;
  padding: auto;
  max-width: 100%;
}


#contact-section .rounded {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.hero-slider-item {
  min-height: 60vh;
}

.product-list {
  width: 100vw;
  margin-left: 0px;
  margin-right: 0px;
}

.product-item-parent {
  overflow: hidden;
  padding-left: 0px;
  padding-right: 0px;
}

.product-item-child {
  display: flex;
  height: 300px;
  width: 100%;
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  transition: all 0.2s ease;
}

.product-item-child h3 {
  color: #fff;
  text-align: center;
  margin: auto;
  transition: all 0.2s ease;
}

.product-item-child:hover,
.product-item-child:focus {
  transform: scale(1.1);
  background-color: rgb(255,255,255, 0.9);
}

.product-item-child:hover h3,
.product-item-child:focus h3 {
  color: #e84444;
  transform: scale(0.90909090909) perspective(1px) translateZ(0);
}

.bg-one {
  background-image: url("../images/products/bulk-fuel.png"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}

.bg-two {
  background-image: url("../images/products/industrial-services.png"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}

.bg-three {
  background-image: url("../images/products/lubricant-solution.png"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}

.bg-four {
  background-image: url("../images/products/race-fuel.png"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}

.bg-five {
  background-image: url("../images/products/diesel.png"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}

.bg-six {
  background-image: url("../images/products/petroleum.png"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}

.bg-seven {
  background-image: url("../images/products/on-site-fueling.png"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}

.bg-eight {
  background-image: url("../images/products/wet-hosing.png"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}

#services .card-body {
  min-height: 300px;
}

#shell-products .card-body {
  min-height: 150px;
}

.bulk-fuel-product-list img {
  min-height: 300px;
}

.card-img-wrapper img {
  min-height: 250px;
  max-height: 250px;
  border-style: solid;
  border-color: rgb(0, 0, 0, 0.125);
  border-top-width: 1px;
  border-bottom-width: 1px;
}

#chevron-products .card-body {
  min-height: 100px;
}

img {
  max-width: 100%;
}
/*# sourceMappingURL=maps/style.css.map */
